#main {
    background-image: linear-gradient(to right, #edf0ee, rgba(8, 163, 224, 0.4), #edf0ee);
    margin-top: 10px;
}

.logo {
    margin-left: 5%;
}

#right-btn {
    margin-right: 5%;
}

h2 {
    color: #2c2924;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer {
    background-color: rgba(123, 121, 118, 0.5);
    font-family: Arial, Helvetica, sans-serif;
}

.main-fade {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}