#main {
    background-image: linear-gradient(to right, #edf0ee, rgba(8, 163, 224, 0.4), #edf0ee);
    margin-top: 10px;
}


.footer {
    background-color: rgba(123, 121, 118, 0.5);
}

.main-fade {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeInAnimation {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
  }